@let mv = movie();

@if (mv) {
        <div class="card h-100 shadow-sm">

          <img
            [src]="mv.poster_path ? baseImageUrl + mv.poster_path : 'assets/images/labtv-logo.png'"
            class="card-img-top"
            [alt]="mv.title">

          <div class="card-body d-flex flex-column">

            <h5 class="card-title">
              {{mv.title}}
            </h5>

            <p class="card-text text-secondary">
              {{mv.overview}}
            </p>

            <div class="mt-auto">

              <span class="badge bg-warning text-dark">
                {{mv.vote_average}}
              </span>

            

              <p class="mb-3">
                <strong>Anno:</strong> {{mv.release_date}}
              </p>

              <a
                class="btn btn-dark w-100 d-block"
                [routerLink]="['/movie', mv.id]">
                Dettagli
              </a>

            </div>

          </div>

        </div>
}  @else {
  <p class="text-center py-5">Caricamento in corso...</p>
}
